flows_RasPi_Energy_Meter_XDK_BLE_V0.1_2020.06.26.json
[{"id":"cc0353ac.38e62","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"235d95d0.c8eeca","type":"random","z":"cc0353ac.38e62","name":"","low":"235","high":"238","inte":"true","property":"payload","x":340,"y":200,"wires":[["e554e234.093ed"]]},{"id":"b5e9c4ad.4d9458","type":"inject","z":"cc0353ac.38e62","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["235d95d0.c8eeca","7d2518f7.cb07d8","998eca1e.72aa28","4baf1b54.f24be4","9e04c493.989d08"]]},{"id":"e554e234.093ed","type":"function","z":"cc0353ac.38e62","name":"Phase-1","func":"let pay = msg.payload;\nmsg.payload=\"Voltage V1=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/1\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["407957d3.aeb4f8","77f4fc67.831364"]]},{"id":"407957d3.aeb4f8","type":"debug","z":"cc0353ac.38e62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":240,"wires":[]},{"id":"77f4fc67.831364","type":"mqtt out","z":"cc0353ac.38e62","name":"MQTT","topic":"","qos":"","retain":"","broker":"7997efa3.d929","x":770,"y":300,"wires":[]},{"id":"385967a.90abd98","type":"random","z":"cc0353ac.38e62","name":"","low":"236","high":"240","inte":"true","property":"payload","x":340,"y":280,"wires":[["651f64cb.58733c"]]},{"id":"651f64cb.58733c","type":"function","z":"cc0353ac.38e62","name":"Phase-2","func":"let pay = msg.payload;\nmsg.payload=\"Voltage V2=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/2\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["407957d3.aeb4f8","77f4fc67.831364"]]},{"id":"4f5c396d.fe02b8","type":"random","z":"cc0353ac.38e62","name":"","low":"20","high":"100","inte":"true","property":"payload","x":340,"y":360,"wires":[["91317727.752598"]]},{"id":"91317727.752598","type":"function","z":"cc0353ac.38e62","name":"Total Current","func":"let pay = msg.payload;\nmsg.payload=\"Current I=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/4\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["407957d3.aeb4f8","77f4fc67.831364"]]},{"id":"ad587e76.f09d1","type":"random","z":"cc0353ac.38e62","name":"","low":"10","high":"50","inte":"true","property":"payload","x":340,"y":440,"wires":[["1752d627.8395ca"]]},{"id":"1752d627.8395ca","type":"function","z":"cc0353ac.38e62","name":"Power","func":"let pay = msg.payload;\nmsg.payload=\"Power Kw=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/5\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["407957d3.aeb4f8","77f4fc67.831364"]]},{"id":"3ce1e4a5.c5e6ec","type":"random","z":"cc0353ac.38e62","name":"","low":"1","high":"50","inte":"true","property":"payload","x":340,"y":520,"wires":[["33d40653.19e63a"]]},{"id":"33d40653.19e63a","type":"function","z":"cc0353ac.38e62","name":"Total Energy","func":"let pay = msg.payload;\nmsg.payload=\"Energy Kwh=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/6\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["407957d3.aeb4f8","77f4fc67.831364"]]},{"id":"7d2518f7.cb07d8","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":280,"wires":[["385967a.90abd98"]]},{"id":"998eca1e.72aa28","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":340,"wires":[["4f5c396d.fe02b8"]]},{"id":"4baf1b54.f24be4","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":400,"wires":[["ad587e76.f09d1"]]},{"id":"9e04c493.989d08","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":460,"wires":[["3ce1e4a5.c5e6ec"]]},{"id":"35657a0.13b1f86","type":"random","z":"cc0353ac.38e62","name":"","low":"25","high":"35","inte":"true","property":"payload","x":340,"y":620,"wires":[["9a8e84bf.ddd748"]]},{"id":"9a8e84bf.ddd748","type":"function","z":"cc0353ac.38e62","name":"Temp-S1","func":"let pay = msg.payload;\nmsg.payload=\"Temp c=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/11\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":660,"wires":[["77f4fc67.831364","ce550415.726828"]]},{"id":"937e9b9f.95e588","type":"random","z":"cc0353ac.38e62","name":"","low":"55","high":"60","inte":"true","property":"payload","x":340,"y":700,"wires":[["a38db755.57cb98"]]},{"id":"a38db755.57cb98","type":"function","z":"cc0353ac.38e62","name":"Humidity-S1","func":"let pay = msg.payload;\nmsg.payload=\"Humid h=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/12\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["77f4fc67.831364","ce550415.726828"]]},{"id":"1f7a62.d87e759e","type":"random","z":"cc0353ac.38e62","name":"","low":"20","high":"50","inte":"true","property":"payload","x":340,"y":780,"wires":[["df736ef9.e4709"]]},{"id":"df736ef9.e4709","type":"function","z":"cc0353ac.38e62","name":"Light-S1","func":"let pay = msg.payload;\nmsg.payload=\"Light lx=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/13\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":820,"wires":[["77f4fc67.831364","ce550415.726828"]]},{"id":"fc25ac46.9789","type":"random","z":"cc0353ac.38e62","name":"","low":"10","high":"200","inte":"true","property":"payload","x":340,"y":860,"wires":[["b9d10935.55e328"]]},{"id":"b9d10935.55e328","type":"function","z":"cc0353ac.38e62","name":"Acceleration-S1","func":"let pay = msg.payload;\nmsg.payload=\"Acc Hz=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/14\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":900,"wires":[["77f4fc67.831364","ce550415.726828"]]},{"id":"5f73d815.9e26e8","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":700,"wires":[["937e9b9f.95e588"]]},{"id":"39050b3.869faf4","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":760,"wires":[["1f7a62.d87e759e"]]},{"id":"65260c74.262f34","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":820,"wires":[["fc25ac46.9789"]]},{"id":"5227605.95e5da","type":"random","z":"cc0353ac.38e62","name":"","low":"25","high":"45","inte":"true","property":"payload","x":840,"y":660,"wires":[["cd301495.b974f8"]]},{"id":"cd301495.b974f8","type":"function","z":"cc0353ac.38e62","name":"Temp-S2","func":"let pay = msg.payload;\nmsg.payload=\"Temp2 c=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/15\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":700,"wires":[["77f4fc67.831364","ce550415.726828"]]},{"id":"1ae88aaa.f8abe5","type":"random","z":"cc0353ac.38e62","name":"","low":"55","high":"60","inte":"true","property":"payload","x":840,"y":740,"wires":[["6755c961.b32398"]]},{"id":"6755c961.b32398","type":"function","z":"cc0353ac.38e62","name":"Humidity-S2","func":"let pay = msg.payload;\nmsg.payload=\"Humid2 h=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/16\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":780,"wires":[["77f4fc67.831364","ce550415.726828"]]},{"id":"a54231b2.59574","type":"random","z":"cc0353ac.38e62","name":"","low":"20","high":"50","inte":"true","property":"payload","x":840,"y":820,"wires":[["6bcf1354.45462c"]]},{"id":"6bcf1354.45462c","type":"function","z":"cc0353ac.38e62","name":"Light-S2","func":"let pay = msg.payload;\nmsg.payload=\"Light2 lx=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/17\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":860,"wires":[["77f4fc67.831364","ce550415.726828"]]},{"id":"e9414e4f.aed69","type":"random","z":"cc0353ac.38e62","name":"","low":"10","high":"200","inte":"true","property":"payload","x":840,"y":900,"wires":[["d007aca5.4359d"]]},{"id":"d007aca5.4359d","type":"function","z":"cc0353ac.38e62","name":"Acceleration-S2","func":"let pay = msg.payload;\nmsg.payload=\"Acc2 Hz=\"+pay;\nmsg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/18\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":940,"wires":[["77f4fc67.831364","ce550415.726828"]]},{"id":"e9a82fa1.f3fb8","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":740,"wires":[["1ae88aaa.f8abe5"]]},{"id":"96464160.3d772","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"450","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":800,"wires":[["a54231b2.59574"]]},{"id":"dfe39d40.3bb53","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":860,"wires":[["e9414e4f.aed69"]]},{"id":"2b2c3b1.f14f6c4","type":"modbus-flex-getter","z":"cc0353ac.38e62","name":"Modbus RTU Getter","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"cee23543.a22dc8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":1640,"wires":[["32e1839e.e0335c"],[]]},{"id":"ff5ab497.8872e8","type":"function","z":"cc0353ac.38e62","name":"Phase-1","func":"msg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 0 , 'quantity': 2 };\nmsg.topic=\"Phase1\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":300,"y":1560,"wires":[["2b2c3b1.f14f6c4"]]},{"id":"32e1839e.e0335c","type":"function","z":"cc0353ac.38e62","name":"Convert to Float","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\ntemp=parseFloat(fltView[0].toFixed(2));\nmsg.payload = temp;   \nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1640,"wires":[["c496bb11.ba6088","ab70bb82.4b7d08","1a3fabd6.ae60b4","514faea7.c0d4e","ff6b90d5.6633a"]]},{"id":"596a7b2a.48eb64","type":"debug","z":"cc0353ac.38e62","name":"","active":false,"console":"false","complete":"false","x":910,"y":1460,"wires":[]},{"id":"ab70bb82.4b7d08","type":"function","z":"cc0353ac.38e62","name":"Phase-1","func":"\nwatch_topic = \"Phase1\";\nvar output = {};\nvar v;\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"Phase1\")!==undefined) {\n    v = context.get(\"Phase1\");\n    output.kitchtemp = context.get(\"Phase1\");\n}\n\n\nif (msg.topic===watch_topic) {\n    msg.payload=\"Phase1 V=\"+v;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/1\"\n    return msg;\n}","outputs":1,"noerr":0,"x":620,"y":1480,"wires":[["596a7b2a.48eb64","77f4fc67.831364"]]},{"id":"7d0b111e.a6461","type":"function","z":"cc0353ac.38e62","name":"Power","func":"msg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 52 , 'quantity': 2 };\nmsg.topic=\"Power\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1640,"wires":[["2b2c3b1.f14f6c4"]]},{"id":"8dd092b7.c8d58","type":"function","z":"cc0353ac.38e62","name":"Energy","func":"msg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 342 , 'quantity': 2 };\nmsg.topic=\"Energy\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1680,"wires":[["2b2c3b1.f14f6c4"]]},{"id":"1a3fabd6.ae60b4","type":"function","z":"cc0353ac.38e62","name":"Phase-2","func":"watch_topic = \"Phase2\";\nvar output = {};\nvar v2;\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"Phase2\")!==undefined) {\n    v2 = context.get(\"Phase2\");\n    output.kitchtemp = context.get(\"Phase2\");\n}\n\n\nif (msg.topic===watch_topic) {\n    msg.payload=\"Phase2 V=\"+v2;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/2\"\n    return msg;\n}","outputs":1,"noerr":0,"x":620,"y":1520,"wires":[["596a7b2a.48eb64","77f4fc67.831364"]]},{"id":"8a79e03b.a2ab7","type":"function","z":"cc0353ac.38e62","name":"Phase-2","func":"msg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address':2, 'quantity': 2 };\nmsg.topic=\"Phase2\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":300,"y":1600,"wires":[["2b2c3b1.f14f6c4"]]},{"id":"c65006ac.65ba78","type":"function","z":"cc0353ac.38e62","name":"Total Current","func":"msg.payload = { value: msg.payload, 'fc': 4, 'unitid': 1, 'address': 46 , 'quantity': 2 };\nmsg.topic=\"Current\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1720,"wires":[["2b2c3b1.f14f6c4"]]},{"id":"c496bb11.ba6088","type":"function","z":"cc0353ac.38e62","name":"Power","func":"\nwatch_topic = \"Power\";\nvar output = {};\nvar kw;\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"Power\")!==undefined) {\n    kw = context.get(\"Power\");\n    output.kitchtemp = context.get(\"Power\");\n}\n\n\nif (msg.topic===watch_topic) {\n    msg.payload=\"Power P=\"+(kw*10);\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/5\"\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":1560,"wires":[["9362c7a1.acaf38","77f4fc67.831364"]]},{"id":"514faea7.c0d4e","type":"function","z":"cc0353ac.38e62","name":"Energy","func":"\nwatch_topic = \"Energy\";\nvar output = {};\nvar kwh;\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"Energy\")!==undefined) {\n    kwh = context.get(\"Energy\");\n    output.kitchtemp = context.get(\"Energy\");\n}\n\n\nif (msg.topic===watch_topic) {\n    msg.payload=\"Energy E=\"+(kwh*10);\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/6\"\n    return msg;\n}","outputs":1,"noerr":0,"x":800,"y":1720,"wires":[["596a7b2a.48eb64","77f4fc67.831364"]]},{"id":"ff6b90d5.6633a","type":"function","z":"cc0353ac.38e62","name":"Current","func":"\nwatch_topic = \"Current\";\nvar output = {};\nvar Amp;\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"Current\")!==undefined) {\n    Amp = context.get(\"Current\");\n    output.kitchtemp = context.get(\"Current\");\n}\n\n\nif (msg.topic===watch_topic) {\n    msg.payload=\"Current I=\"+(Amp*10);\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/4\"\n    return msg;\n}","outputs":1,"noerr":0,"x":800,"y":1780,"wires":[["596a7b2a.48eb64","77f4fc67.831364"]]},{"id":"60e126c7.e3b2c8","type":"inject","z":"cc0353ac.38e62","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["5f73d815.9e26e8","39050b3.869faf4","65260c74.262f34","35657a0.13b1f86"]]},{"id":"e7df6b3.894a498","type":"inject","z":"cc0353ac.38e62","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":600,"wires":[["e9a82fa1.f3fb8","96464160.3d772","dfe39d40.3bb53","5227605.95e5da"]]},{"id":"b3c9f3c3.88a6c","type":"inject","z":"cc0353ac.38e62","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1520,"wires":[["ef526057.03d7e","6d616464.88519c","f2e4e8e1.bc76b8","4e27537.ca8a1ac","1dcd459c.92a85a"]]},{"id":"ef526057.03d7e","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1600,"wires":[["ff5ab497.8872e8"]]},{"id":"6d616464.88519c","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1660,"wires":[["8a79e03b.a2ab7"]]},{"id":"f2e4e8e1.bc76b8","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1720,"wires":[["7d0b111e.a6461"]]},{"id":"4e27537.ca8a1ac","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1780,"wires":[["8dd092b7.c8d58"]]},{"id":"1dcd459c.92a85a","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"230","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1840,"wires":[["c65006ac.65ba78"]]},{"id":"9362c7a1.acaf38","type":"debug","z":"cc0353ac.38e62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1540,"wires":[]},{"id":"68574c68.469bf4","type":"Generic BLE in","z":"cc0353ac.38e62","name":"","genericBle":"c4f59c1c.12f7d","useString":false,"notification":true,"x":460,"y":2100,"wires":[["6cbd10c6.3ae64","f6014038.39212"]]},{"id":"33777b85.d8c354","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":2260,"wires":[["68574c68.469bf4"]]},{"id":"6cbd10c6.3ae64","type":"split","z":"cc0353ac.38e62","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":450,"y":2200,"wires":[["e41c370a.d03f48"]]},{"id":"e41c370a.d03f48","type":"split","z":"cc0353ac.38e62","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":450,"y":2240,"wires":[["ea539f26.c5b2a"]]},{"id":"c5d83022.7283b","type":"function","z":"cc0353ac.38e62","name":"Convert to Float","func":"let pay = msg.payload;\nconst buf = Buffer.allocUnsafe(4);\nbuf.writeUInt16BE(pay[0]);\nmsg.payload = buf.readInt16BE();\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":2320,"wires":[["197c43c5.8a639c"]]},{"id":"197c43c5.8a639c","type":"function","z":"cc0353ac.38e62","name":"Temp-S1","func":"if(msg.topic===\"Temperature\"){\n    let pay = msg.payload;\n    msg.payload=\"Temp c=\"+pay;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/11\"\n    return msg;\n}\n\nif(msg.topic===\"Humidity\"){\n    let pay = msg.payload;\n    msg.payload=\"Humid h=\"+pay;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/12\"\n    return msg;\n}\n\nif(msg.topic===\"Light\"){\n    let pay = msg.payload;\n    msg.payload=\"Light lx=\"+pay;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/13\"\n    return msg;\n}\n\nif(msg.topic===\"Acceleration\"){\n    let pay = msg.payload;\n    msg.payload=\"Acc Hz=\"+pay;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/14\"\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":2320,"wires":[["be52f276.7b5a9","77f4fc67.831364"]]},{"id":"be52f276.7b5a9","type":"debug","z":"cc0353ac.38e62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":2320,"wires":[]},{"id":"2659ca53.63b4e6","type":"inject","z":"cc0353ac.38e62","name":"","topic":"connect","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2440,"wires":[["7b1214ce.7612bc"]]},{"id":"7b1214ce.7612bc","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":2480,"wires":[["10a934df.31ef6b"]]},{"id":"cef54fb.f607db","type":"debug","z":"cc0353ac.38e62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":2480,"wires":[]},{"id":"9af3de3b.2ec3","type":"inject","z":"cc0353ac.38e62","name":"","topic":"connect","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2200,"wires":[["33777b85.d8c354"]]},{"id":"f6014038.39212","type":"debug","z":"cc0353ac.38e62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":2140,"wires":[]},{"id":"9adabbd6.e3ce58","type":"inject","z":"cc0353ac.38e62","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2060,"wires":[["83d3cc92.e02e4"]]},{"id":"5dfdebb9.c72824","type":"inject","z":"cc0353ac.38e62","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2340,"wires":[["2eef3012.17637"]]},{"id":"c0916a5f.be2c18","type":"split","z":"cc0353ac.38e62","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":2540,"wires":[["e754b5d2.e309e8"]]},{"id":"e754b5d2.e309e8","type":"split","z":"cc0353ac.38e62","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":550,"y":2580,"wires":[["e7e48c96.2dbf6"]]},{"id":"4bbabed9.b32a5","type":"function","z":"cc0353ac.38e62","name":"Convert to Float","func":"let pay = msg.payload;\nconst buf = Buffer.allocUnsafe(4);\nbuf.writeUInt16BE(pay[0]);\nmsg.payload = buf.readInt16BE();\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":2660,"wires":[["f6ea00b5.71dfd"]]},{"id":"e7e48c96.2dbf6","type":"change","z":"cc0353ac.38e62","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"8400005fa0f80800200c9a6600008a01","fromt":"str","to":"Light2","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"cc0000001af80800200c9a6600008b02","fromt":"str","to":"Temperature2","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"1400000031f80800200c9a6600008c03","fromt":"str","to":"Humidity2","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"5c000001a1f80800200c9a6600008d04","fromt":"str","to":"Acceleration2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2620,"wires":[["4bbabed9.b32a5"]]},{"id":"f6ea00b5.71dfd","type":"function","z":"cc0353ac.38e62","name":"Temp-S2","func":"if(msg.topic===\"Temperature2\"){\n    let pay = msg.payload;\n    msg.payload=\"Temp2 c=\"+pay;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/15\"\n    return msg;\n}\n\nif(msg.topic===\"Humidity2\"){\n    let pay = msg.payload;\n    msg.payload=\"Humid2 h=\"+pay;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/16\"\n    return msg;\n}\n\nif(msg.topic===\"Light2\"){\n    let pay = msg.payload;\n    msg.payload=\"Light2 lx=\"+pay;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/17\"\n    return msg;\n}\n\nif(msg.topic===\"Acceleration2\"){\n    let pay = msg.payload;\n    msg.payload=\"Acc2 Hz=\"+pay;\n    msg.topic=\"v1/160c67c0-b61d-11ea-a67f-15e30d90bbf4/things/93629640-b61d-11ea-a67f-15e30d90bbf4/data/18\"\n    return msg;\n}","outputs":1,"noerr":0,"x":760,"y":2660,"wires":[["ec7ad7fa.fc2be8","77f4fc67.831364"]]},{"id":"ec7ad7fa.fc2be8","type":"debug","z":"cc0353ac.38e62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":2660,"wires":[]},{"id":"ce550415.726828","type":"debug","z":"cc0353ac.38e62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":980,"wires":[]},{"id":"83d3cc92.e02e4","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"1010","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":2120,"wires":[["68574c68.469bf4"]]},{"id":"2eef3012.17637","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":2380,"wires":[["26fcb046.1a846"]]},{"id":"ea539f26.c5b2a","type":"change","z":"cc0353ac.38e62","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"8400007500f80800200c9a6600009a01","fromt":"str","to":"Light","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"cc0000001ef80800200c9a6600009b02","fromt":"str","to":"Temperature","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"140000002df80800200c9a6600009c03","fromt":"str","to":"Humidity","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"5c000001a2f80800200c9a6600009d04","fromt":"str","to":"Acceleration","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2280,"wires":[["c5d83022.7283b"]]},{"id":"76bbd27d.54c50c","type":"inject","z":"cc0353ac.38e62","name":"","topic":"disconnect","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2160,"wires":[["68574c68.469bf4"]]},{"id":"10a934df.31ef6b","type":"Generic BLE in","z":"cc0353ac.38e62","name":"","genericBle":"e9b80a45.db1278","useString":false,"notification":true,"x":420,"y":2460,"wires":[["c0916a5f.be2c18","cef54fb.f607db"]]},{"id":"26fcb046.1a846","type":"delay","z":"cc0353ac.38e62","name":"","pauseType":"delay","timeout":"2020","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":2380,"wires":[["10a934df.31ef6b"]]},{"id":"2e4633a8.a9b3cc","type":"inject","z":"cc0353ac.38e62","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2040,"wires":[["68574c68.469bf4"]]},{"id":"7997efa3.d929","type":"mqtt-broker","z":"","name":"","broker":"mqtt.mydevices.com","port":"1883","clientid":"93629640-b61d-11ea-a67f-15e30d90bbf4","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cee23543.a22dc8","type":"modbus-client","z":"","name":"Modbus RTU","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"c4f59c1c.12f7d","type":"Generic BLE","z":"","localName":"ConnectivityBLEPhone","address":"fc:d6:bd:10:2c:40","uuid":"fcd6bd102c40","characteristics":[]},{"id":"e9b80a45.db1278","type":"Generic BLE","z":"","localName":"ConnectivityBLEXDK","address":"fc:d6:bd:10:2c:46","uuid":"fcd6bd102c46","characteristics":[]}]